[galera]

wsrep_on=ON

wsrep_provider=/usr/lib/galera/libgalera_smm.so

wsrep_cluster_name="zaid_cluster"

wsrep_cluster_address="gcomm://192.168.0.5,192.168.0.6,192.168.0.4"

binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2

wsrep_node_address="192.168.0.5"
wsrep_node_name="DB_Node1"

wsrep_sst_method=rsync
