frontend http_front
    bind *:80
    default_backend web_pool

backend web_pool
    balance roundrobin

    server web1 192.168.0.3:80 check
    server web2 192.168.0.4:80 check

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s
    stats auth admin:admin123
